<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Booker</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link href="../static/css/styles.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />

  <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

  <title>Booker</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link href="../static/css/styles.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
  <script src="/js/event.js"></script>
  <script src="../static/js/event.js"></script>
  <script src="/js/event.js"></script>
  <link href="/css/styles.css" rel="stylesheet" />
  <link href="/css/main.css" rel="stylesheet" />
  <script src="../static/js/main.js"></script>


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/main"><img class="logo_img" src="/img/main_logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" id="loginline">
        <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
      </ul>
    </div>

  </div>
</nav>

<div class="container" style="padding : 50px;">

<div class="row">
  <div class="col-lg-8>

  <button class="btn btn-primary" id="btnGetBook" type="button" onclick="searchEventList()" >책가져오기</button>
  <select id="searchToggle" class="form-select" aria-label="Default select example">
    <option value="1">20230501</option>
    <option value="2">20230601</option>
    <option value="3">20230610</option>
  </select>
  <button class="btn btn-primary" id="btnGetEvent" type="button" onclick="getPreEventList()" >이벤트불러오기</button>
</div>
  <div class = "eventTable" style="padding: 50px;">
    <div class="row">
      <div class="col-lg-8">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">ENABLE</th>
            <th scope="col">BOOKID</th>
            <th scope="col">BOOKNAME</th>
            <th scope="col">TOTAL_CNT</th>
            <th scope="col">CNT</th>
            <th scope="col">REASON</th>
            <th scope="col">EVENT_DATE</th>
            <th scope="col">EVENT_TIME</th>
            <th scope="col">ISVAILD</th>
          </tr>
          </thead>
          <tbody id="bookList">
          <tr>
            <td>
              <input type="checkbox" id ="chkEvent1">
            </td>
            <td>99991</td>
            <td>BOOKNAME</td>
            <td>
              <input type="text" id ="txtTotalCnt1">
            </td>
            <td>
              <input type="text" id ="txtCnt1">
            </td>
            <td>
              <input type="text" id ="txtReason1">
            </td>
            <td>
              <input type="text" class ="calender" id="eventDate1">
            </td>
            <td>
              <input type="text" id="eventTime1">
            </td>
            <td>
              <input type="checkbox" id ="chkValid1">
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id ="chkEvent2">
            </td>
            <td>99992</td>
            <td>BOOKNAME2</td>
            <td>
              <input type="text" id ="txtTotalCnt2">
            </td>
            <td>
              <input type="text" id ="txtCnt2">
            </td>
            <td>
              <input type="text" id ="txtReason2">
            </td>
            <td>
              <input type="text" class ="calender" id="eventDate2">
            </td>
            <td>
              <input type="text" id="eventTime2">
            </td>
            <td>
              <input type="checkbox" id ="chkValid2">
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" id ="chkEvent3">
            </td>
            <td>99993</td>
            <td>BOOKNAME3</td>
            <td>
              <input type="text" id ="txtTotalCnt3">
            </td>
            <td>
              <input type="text" id ="txtCnt3">
            </td>
            <td>
              <input type="text" id ="txtReason3">
            </td>
            <td>
              <input type="text" class ="calender" id="eventDate3">
            </td>
            <td>
              <input type="text" id="eventTime3">
            </td>
            <td>
              <input type="checkbox" id ="chkValid3">
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
<div>
  <button class="btn btn-primary" id="btnSave" type="button">저장</button>
</div>
</body>
</html>